compile_commands.json
.idea
.DS_Store
*.pyc
build/
.cache/
__pycache__
.vscode/
*/cmake-build-*/

cmake-build-*
.idea
.DS_Store
build
dist
*.egg-info
*.pyc
CMakeFiles/
third-party/

# Third-party links created by `setup.py develop`
deep_gemm/include/cute
deep_gemm/include/cutlass
deep_gemm/kernels/*.cu

output_log/
*.nsys-rep
*.sqlite
*.dict
*.csv
lib
backup
